#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;

  .calculator {
    display: flex;
    flex-direction: column;
    border: solid 3px grey;

    .input-display {
      height: 2em;
      text-align: right;
    }

    .result-display {
      display: flex;
      height: 3em;
      justify-content: right;
      align-items: end;
    }

    .buttons-area {
      box-sizing: content-box;
      width: 300px;
      height: 375px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px black;
        box-sizing: border-box;
      }

      .button-one-by-one {
        height: 75px;
        width: 75px;
      }

      .button-one-by-two {
        height: 75px;
        width: 150px;
      }

      .button-two-by-one {
        height: 150px;
        width: 75px;
      }

      .button-equals {
        position: relative;
        top: -75px;
      }
    }
  }
}
