@keyframes showResult {
  100% {
    font-size: 4em;
  }
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;

  .calculator {
    display: flex;
    flex-direction: column;
    border: solid 3px grey;

    .screen {
      height: 5em;

      .input-display {
        text-align: right;
        font-size: 2em;
      }

      .result-display {
        text-align: right;
        align-items: end;
        font-size: 2em;
      }
    }

    .buttons-area {
      box-sizing: content-box;
      width: 300px;
      height: 375px;
      display: grid;
      grid-template-columns: 75px 75px 75px 75px;
      grid-template-rows: 75px 75px 75px 75px 75px;
      font-size: 2em;
      font-weight: bold;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: #5e5e5e;
        outline: solid 1px black;
      }

      .button:hover {
        background-color: lime;
        border: solid 1px white;
      }

      .number {
        background-color: #e6e6e6;
      }

      .button-clear {
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: orangered;
      }

      .button-decimal {
        background-color: #e6e6e6;
      }

      .button-equals {
        grid-column-start: 4;
        grid-row-start: 4;
        grid-row-end: 6;
        background-color: orange;
      }

      .button-zero {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
}
